<h1>Editing reccomendation</h1>

<%= render "form", reccomendation: @reccomendation %>

<br>

<div>
  <%= link_to "Show this reccomendation", @reccomendation %> |
  <%= link_to "Back to reccomendations", reccomendations_path %>
</div>
