<p style="color: green"><%= notice %></p>

<h1>Reccomendations</h1>

<div id="reccomendations">
  <% if @reccomendations.length() > 0 %>

    <% @reccomendations.each do |reccomendation| %>
    <%= render reccomendation %>
  <% end %>

  <% else %>
    <%= link_to "Genera reccomendations", new_reccomendation_path(), class:"btn btn-primary" %>
  <% end %>
</div>
