<%= render "partials/navbar" %>
<div style="padding: 40pt"></div>

<h1>Reccomendations</h1>

<div id="reccomendations">

  <%= link_to "Genera reccomendations", new_reccomendation_path(), class:"btn btn-primary" %>

  <% @reccomendations.each do |reccomendation| %>
    <p>AAAAAAAAAAAAAAAAA</p>
    <%= render reccomendation %>
  <% end %>
  
</div>
