<%= render "partials/navbar" %>
<div class="row justify-content-center">
    <div style="padding: 70px"></div> 
        <div class="col-sm-8 col-md-6 justify-content-center">
        <h1>Chats</h1>
            <ul class="list-group chat-group">
            <% @chats.each do |chat| %>
               <%= render chat%>
            <% end %>
            
            </ul>
            <% if @chats.where(user1: current_user).count==0 && @chats.where(user2: current_user).count==0%>
                <p>Sembra che tu non abbia nessuna chat aperta con gli utenti di CommunitySpotify. Recati sul profilo di un'utente per iniziare una chat.</p>
            <% end %>
        </div>
    </div>
</div>

    



