
<h1>Chats</h1>

<ul>
<% @chats.each do |chat| %>
    <% if chat.user1==current_user %>
        <li>
            <%= chat.user2.email %>
            <%= button_to "Elimina", chat_path(chat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete %>
        </li>
    <% elsif chat.user2==current_user%>
        <li>
            <%= chat.user1.email%>
             <%= button_to "Elimina", chat_path(chat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete %>
        </li>
    <% end %>
<% end %>
</ul>


    



