<h1>New Chat</h1>

<%= form_with model: @chat do |form| %>
  <div>
    <%= form.label :user2 %><br>
    <%= form.text_field :user2_id %>
  </div>
    


  

  <div>
  
    <%= form.submit %>
  </div>

<% end %>

  