<%= render "partials/navbar" %>
<div style="padding: 40pt"></div>

<div id="reccomendations_warning" class="container">

  <div class="row align-text-center">
    <p>
      Ricorda di andare sul tuo profilo ad impostare i tuoi gusti musicali aggiungendo dei tag al tuo account, altrimenti
      CommunitySpotify non sarà in gradi di generare delle raccomandations a posta per te!
    </p>
  </div>

<div id="reccomendations_generator" class="container">

  <div class="row align-text-center">
    <%= button_to "Genera reccomendations", community_reccomendations_path(), class:"btn btn-primary", method: "POST" %>
  </div>

</div>

<div id="community_reccomendations" class="container">
  <div class="row align-text-center">

    <h1>Community Reccomendations</h1>

  </div>

  <div class="row">
    <ul class="timeline">

      <% @community_reccomendations.each do |reccomendation| %>
        <%= render reccomendation %>
      <% end %>

    </ul>
  <div>
  
</div>

<div id="user_reccomendations" class="container">
  <div class="row align-text-center">

    <h1>User Reccomendations</h1>

  </div>

  <div class="row">
    <ul class="timeline">

      <% @user_reccomendations.each do |reccomendation| %>
        <%= render reccomendation %>
      <% end %>

    </ul>
  <div>
  
</div>