<%= form_with(model: user_reccomendation) do |form| %>
  <% if user_reccomendation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user_reccomendation.errors.count, "error") %> prohibited this user_reccomendation from being saved:</h2>

      <ul>
        <% user_reccomendation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
