<h1>Editing user reccomendation</h1>

<%= render "form", user_reccomendation: @user_reccomendation %>

<br>

<div>
  <%= link_to "Show this user reccomendation", @user_reccomendation %> |
  <%= link_to "Back to user reccomendations", user_reccomendations_path %>
</div>
