<p style="color: green"><%= notice %></p>

<h1>User reccomendations</h1>

<div id="user_reccomendations">
  <% @user_reccomendations.each do |user_reccomendation| %>
    <%= render user_reccomendation %>
    <p>
      <%= link_to "Show this user reccomendation", user_reccomendation %>
    </p>
  <% end %>
</div>

<%= link_to "New user reccomendation", new_user_reccomendation_path %>
